
:root {
    --white: rgb(245, 245, 245);
    --black: rgb(21, 21, 21);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--white);
    color: var(--black);
}

div#main {
    width: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

div#main.active {
    opacity: 1;
}

div.jumbotron {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

div.jumbotron .jumbotron-object {
    width: 200%;
    height: 100vh;
    transform: translate(-40%, 100px) rotate(80deg);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    position: absolute;
}

marquee {
    background-color: rgb(5, 5, 5);
    position: relative;
    z-index: 2;
    color: var(--white);
    font-size: 20px;
}

div.content { 
    background-image: url("./assets/tree.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.apple-card {
    width: 10%;
    height: 150px;
    position: absolute;
    background-color: rgb(29, 29, 29);
    border-top: 10px solid rgb(240, 238, 238);
    border-right: 10px solid rgb(240, 238, 238);
    border-bottom: 100px solid rgb(240, 238, 238);
    border-left: 10px solid rgb(240, 238, 238);
    padding: 15px;
}

div.apple-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-5%, -5%);
    transition: 300ms width ease-out,
        300ms height ease-out,
        300ms transform ease-out;
}

div.apple-card img:hover {
    width: 200%;
    height: 200%;
    transform: translate(-25%, -25%);
}

div#modal {
    border: 2px solid rgba(0, 0, 0, 0.72);
    border-radius: 22px;
    box-shadow: 0px 0px 10px white;
    padding: 5px;
}